@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Poppins:wght@300&family=Roboto&family=Work+Sans:wght@200&display=swap");

:root {
  --main-background: #f1f2f4;
  --main-background: #f1f2f4;
  --white-bg: #ffffff;
  --black-text: #111112;
  --gray-text: #717e8c;
}
